@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --color-main-jinblue: #0AAFF1;
  --color-main-blue: #00b6ff;
  --color-main-skyblue: #BEEBFD;
  --color-main-grey: #999;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 428px;
  height: 926px;
  margin: 0 auto;
}

.App-logo {
  display: block;
  margin: 15px auto 0px auto;
  width: 235px;
  height: 85px;
}
